.vs/AWCustomServer/FileContentIndex/6b4ea665-df13-4406-8459-0e7bfda467ce.vsidx
.vs/AWCustomServer/FileContentIndex/55cbb87b-5c93-40e9-83d1-72e77408dfe1.vsidx
.vs/AWCustomServer/FileContentIndex/ccfb07be-cf22-44fe-8a89-e4e7c82e5794.vsidx
.vs/AWCustomServer/FileContentIndex/f8d395ac-48c1-4aa7-9bb1-8b540dcda75d.vsidx
.vs/AWCustomServer/FileContentIndex/read.lock
.vs/AWCustomServer/v17/.suo
.vs/AWCustomServer/v17/Browse.VC.db
.vs/AWCustomServer/v17/fileList.bin
.vs/AWCustomServer/v17/Solution.VC.db
.vs/AWCustomServer/v17/ipch/AutoPCH/1a6c2e17ea364b57/SQLUTIL.ipch
.vs/AWCustomServer/v17/ipch/AutoPCH/1bf089276c480882/CERT.ipch
.vs/AWCustomServer/v17/ipch/AutoPCH/1c924481d527dfaa/STATETYPES.ipch
.vs/AWCustomServer/v17/ipch/AutoPCH/256fba0ffe02887a/MAIN.ipch
.vs/AWCustomServer/v17/ipch/AutoPCH/2a1f3f0a430c534d/DATALOOKUP.ipch
.vs/AWCustomServer/v17/ipch/AutoPCH/30611f26f32b6290/STATELOOKUP.ipch
.vs/AWCustomServer/v17/ipch/AutoPCH/337955d8340f65ad/RESTSERVER.ipch
.vs/AWCustomServer/v17/ipch/AutoPCH/38e8c4828a05c3c5/ARCHIVE.ipch
.vs/AWCustomServer/v17/ipch/AutoPCH/395bf98642fca449/DATAUPLOAD.ipch
.vs/AWCustomServer/v17/ipch/AutoPCH/48040d5871044f5e/MAIN.ipch
.vs/AWCustomServer/v17/ipch/AutoPCH/5c570d01064adb26/RESTSERVER.ipch
.vs/AWCustomServer/v17/ipch/AutoPCH/5d16c3c388ae3539/PROPERTIES.ipch
.vs/AWCustomServer/v17/ipch/AutoPCH/7d77aeee7d0fa1ec/PROPERTIES.ipch
.vs/AWCustomServer/v17/ipch/AutoPCH/8cb1b52035aac402/MAIN.ipch
.vs/AWCustomServer/v17/ipch/AutoPCH/8e2c447e704ea158/MAIN.ipch
.vs/AWCustomServer/v17/ipch/AutoPCH/94c2c412875fb845/DATATYPES.ipch
.vs/AWCustomServer/v17/ipch/AutoPCH/a752d90b0e034699/CERT.ipch
.vs/AWCustomServer/v17/ipch/AutoPCH/a7a009e74a96dbd6/DATAFUNCTIONS.ipch
.vs/AWCustomServer/v17/ipch/AutoPCH/b636cd369acf2418/DIJKSTRA MAIN.ipch
.vs/AWCustomServer/v17/ipch/AutoPCH/c41791087525faee/DATAUPLOAD.ipch
.vs/AWCustomServer/v17/ipch/AutoPCH/d5efcd190fe9edfc/MAIN.ipch
.vs/AWCustomServer/v17/ipch/AutoPCH/d62c21448bb81a97/RESTFUNCTIONS.ipch
.vs/AWCustomServer/v17/ipch/AutoPCH/e1389d74710d4c20/MAIN.ipch
.vs/AWCustomServer/v17/ipch/AutoPCH/eb28dcdbcde23ad4/SQLUTIL.ipch
.vs/AWCustomServer/v17/ipch/AutoPCH/f66f5ed663a51f92/PROPERTIES.ipch
AWCustomServer/x64/Debug/Archive.obj
AWCustomServer/x64/Debug/AWCustomServer.log
AWCustomServer/x64/Debug/DataUploadV1.obj
AWCustomServer/x64/Debug/Main.obj
AWCustomServer/x64/Debug/Properties.obj
AWCustomServer/x64/Debug/SQLUtil.obj
AWCustomServer/x64/Debug/StateLookup.obj
AWCustomServer/x64/Debug/vc143.idb
AWCustomServer/x64/Debug/vc143.pdb
AWCustomServer/x64/Debug/AWCustomServer.tlog/AWCustomServer.lastbuildstate
AWCustomServer/x64/Debug/AWCustomServer.tlog/CL.command.1.tlog
AWCustomServer/x64/Debug/AWCustomServer.tlog/CL.read.1.tlog
AWCustomServer/x64/Debug/AWCustomServer.tlog/CL.write.1.tlog
AWCustomServer/x64/Debug/AWCustomServer.tlog/unsuccessfulbuild
AWCustomServer/x64/Release/Archive.obj
AWCustomServer/x64/Release/AWCustomServer.Build.CppClean.log
AWCustomServer/x64/Release/AWCustomServer.exe.recipe
AWCustomServer/x64/Release/AWCustomServer.iobj
AWCustomServer/x64/Release/AWCustomServer.ipdb
AWCustomServer/x64/Release/AWCustomServer.log
AWCustomServer/x64/Release/AWCustomServer.vcxproj.FileListAbsolute.txt
AWCustomServer/x64/Release/DataLookup.obj
AWCustomServer/x64/Release/DataUpload.obj
AWCustomServer/x64/Release/DataUploadV1.obj
AWCustomServer/x64/Release/Main.obj
AWCustomServer/x64/Release/Properties.obj
AWCustomServer/x64/Release/RestServer.obj
AWCustomServer/x64/Release/SQLUtil.obj
AWCustomServer/x64/Release/StateLookup.obj
AWCustomServer/x64/Release/vc143.pdb
AWCustomServer/x64/Release/AWCustomServer.tlog/AWCustomServer.lastbuildstate
AWCustomServer/x64/Release/AWCustomServer.tlog/CL.command.1.tlog
AWCustomServer/x64/Release/AWCustomServer.tlog/CL.read.1.tlog
AWCustomServer/x64/Release/AWCustomServer.tlog/CL.write.1.tlog
AWCustomServer/x64/Release/AWCustomServer.tlog/link.command.1.tlog
AWCustomServer/x64/Release/AWCustomServer.tlog/link.read.1.tlog
AWCustomServer/x64/Release/AWCustomServer.tlog/link.write.1.tlog
ConvertFilesToBase64/ConvertFilesToBase64.vcxproj.filters
ConvertFilesToBase64/ConvertFilesToBase64.vcxproj.user
ConvertFilesToBase64/x64/Debug/ConvertFilesToBase64.exe.recipe
ConvertFilesToBase64/x64/Debug/ConvertFilesToBase64.ilk
ConvertFilesToBase64/x64/Debug/ConvertFilesToBase64.log
ConvertFilesToBase64/x64/Debug/main.obj
ConvertFilesToBase64/x64/Debug/vc143.idb
ConvertFilesToBase64/x64/Debug/vc143.pdb
ConvertFilesToBase64/x64/Debug/ConvertF.41efbb64.tlog/CL.command.1.tlog
ConvertFilesToBase64/x64/Debug/ConvertF.41efbb64.tlog/CL.read.1.tlog
ConvertFilesToBase64/x64/Debug/ConvertF.41efbb64.tlog/CL.write.1.tlog
ConvertFilesToBase64/x64/Debug/ConvertF.41efbb64.tlog/ConvertFilesToBase64.lastbuildstate
ConvertFilesToBase64/x64/Debug/ConvertF.41efbb64.tlog/link.command.1.tlog
ConvertFilesToBase64/x64/Debug/ConvertF.41efbb64.tlog/link.read.1.tlog
ConvertFilesToBase64/x64/Debug/ConvertF.41efbb64.tlog/link.write.1.tlog
ConvertFilesToBase64/x64/Release/ConvertFilesToBase64.exe.recipe
ConvertFilesToBase64/x64/Release/ConvertFilesToBase64.iobj
ConvertFilesToBase64/x64/Release/ConvertFilesToBase64.ipdb
ConvertFilesToBase64/x64/Release/ConvertFilesToBase64.log
ConvertFilesToBase64/x64/Release/main.obj
ConvertFilesToBase64/x64/Release/vc143.pdb
ConvertFilesToBase64/x64/Release/ConvertF.41efbb64.tlog/CL.command.1.tlog
ConvertFilesToBase64/x64/Release/ConvertF.41efbb64.tlog/CL.read.1.tlog
ConvertFilesToBase64/x64/Release/ConvertF.41efbb64.tlog/CL.write.1.tlog
ConvertFilesToBase64/x64/Release/ConvertF.41efbb64.tlog/ConvertFilesToBase64.lastbuildstate
ConvertFilesToBase64/x64/Release/ConvertF.41efbb64.tlog/link.command.1.tlog
ConvertFilesToBase64/x64/Release/ConvertF.41efbb64.tlog/link.read.1.tlog
ConvertFilesToBase64/x64/Release/ConvertF.41efbb64.tlog/link.write.1.tlog
ConvertTableToJson/ConvertTableToJson.vcxproj.filters
ConvertTableToJson/ConvertTableToJson.vcxproj.user
ConvertTableToJson/x64/Release/ConvertTableToJson.exe.recipe
ConvertTableToJson/x64/Release/ConvertTableToJson.iobj
ConvertTableToJson/x64/Release/ConvertTableToJson.ipdb
ConvertTableToJson/x64/Release/ConvertTableToJson.log
ConvertTableToJson/x64/Release/Main.obj
ConvertTableToJson/x64/Release/vc143.pdb
ConvertTableToJson/x64/Release/ConvertT.86f2dd8b.tlog/CL.command.1.tlog
ConvertTableToJson/x64/Release/ConvertT.86f2dd8b.tlog/CL.read.1.tlog
ConvertTableToJson/x64/Release/ConvertT.86f2dd8b.tlog/CL.write.1.tlog
ConvertTableToJson/x64/Release/ConvertT.86f2dd8b.tlog/ConvertTableToJson.lastbuildstate
ConvertTableToJson/x64/Release/ConvertT.86f2dd8b.tlog/link.command.1.tlog
ConvertTableToJson/x64/Release/ConvertT.86f2dd8b.tlog/link.read.1.tlog
ConvertTableToJson/x64/Release/ConvertT.86f2dd8b.tlog/link.write.1.tlog
ConvertTemplatesToClass/ConvertTemplatesToClass.vcxproj
ConvertTemplatesToClass/ConvertTemplatesToClass.vcxproj.filters
ConvertTemplatesToClass/ConvertTemplatesToClass.vcxproj.user
ConvertTemplatesToClass/x64/Debug/ConvertTemplatesToClass.exe.recipe
ConvertTemplatesToClass/x64/Debug/ConvertTemplatesToClass.ilk
ConvertTemplatesToClass/x64/Debug/ConvertTemplatesToClass.log
ConvertTemplatesToClass/x64/Debug/Main.obj
ConvertTemplatesToClass/x64/Debug/vc143.idb
ConvertTemplatesToClass/x64/Debug/vc143.pdb
ConvertTemplatesToClass/x64/Debug/ConvertT.ced6ef36.tlog/CL.command.1.tlog
ConvertTemplatesToClass/x64/Debug/ConvertT.ced6ef36.tlog/CL.read.1.tlog
ConvertTemplatesToClass/x64/Debug/ConvertT.ced6ef36.tlog/CL.write.1.tlog
ConvertTemplatesToClass/x64/Debug/ConvertT.ced6ef36.tlog/ConvertTemplatesToClass.lastbuildstate
ConvertTemplatesToClass/x64/Debug/ConvertT.ced6ef36.tlog/link.command.1.tlog
ConvertTemplatesToClass/x64/Debug/ConvertT.ced6ef36.tlog/link.read.1.tlog
ConvertTemplatesToClass/x64/Debug/ConvertT.ced6ef36.tlog/link.write.1.tlog
ConvertTemplatesToClass/x64/Release/ConvertTemplatesToClass.exe.recipe
ConvertTemplatesToClass/x64/Release/ConvertTemplatesToClass.iobj
ConvertTemplatesToClass/x64/Release/ConvertTemplatesToClass.ipdb
ConvertTemplatesToClass/x64/Release/ConvertTemplatesToClass.log
ConvertTemplatesToClass/x64/Release/Main.obj
ConvertTemplatesToClass/x64/Release/vc143.pdb
ConvertTemplatesToClass/x64/Release/ConvertT.ced6ef36.tlog/CL.command.1.tlog
ConvertTemplatesToClass/x64/Release/ConvertT.ced6ef36.tlog/CL.read.1.tlog
ConvertTemplatesToClass/x64/Release/ConvertT.ced6ef36.tlog/CL.write.1.tlog
ConvertTemplatesToClass/x64/Release/ConvertT.ced6ef36.tlog/ConvertTemplatesToClass.lastbuildstate
ConvertTemplatesToClass/x64/Release/ConvertT.ced6ef36.tlog/link.command.1.tlog
ConvertTemplatesToClass/x64/Release/ConvertT.ced6ef36.tlog/link.read.1.tlog
ConvertTemplatesToClass/x64/Release/ConvertT.ced6ef36.tlog/link.write.1.tlog
Dijkstra Test/Dijkstra Test.vcxproj.filters
Dijkstra Test/Dijkstra Test.vcxproj.user
Dijkstra Test/out.txt
Dijkstra Test/x64/Release/Dijkstra Main.obj
Dijkstra Test/x64/Release/Dijkstra Test.exe.recipe
Dijkstra Test/x64/Release/Dijkstra Test.iobj
Dijkstra Test/x64/Release/Dijkstra Test.ipdb
Dijkstra Test/x64/Release/Dijkstra Test.log
Dijkstra Test/x64/Release/vc143.pdb
Dijkstra Test/x64/Release/Dijkstra Test.tlog/CL.command.1.tlog
Dijkstra Test/x64/Release/Dijkstra Test.tlog/CL.read.1.tlog
Dijkstra Test/x64/Release/Dijkstra Test.tlog/CL.write.1.tlog
Dijkstra Test/x64/Release/Dijkstra Test.tlog/Dijkstra Test.lastbuildstate
Dijkstra Test/x64/Release/Dijkstra Test.tlog/link.command.1.tlog
Dijkstra Test/x64/Release/Dijkstra Test.tlog/link.read.1.tlog
Dijkstra Test/x64/Release/Dijkstra Test.tlog/link.write.1.tlog
KeyGenerator/KeyGenerator.vcxproj.filters
KeyGenerator/KeyGenerator.vcxproj.user
KeyGenerator/x64/Debug/KeyGenerator.exe.recipe
KeyGenerator/x64/Debug/KeyGenerator.ilk
KeyGenerator/x64/Debug/KeyGenerator.log
KeyGenerator/x64/Debug/Main.obj
KeyGenerator/x64/Debug/vc143.idb
KeyGenerator/x64/Debug/vc143.pdb
KeyGenerator/x64/Debug/KeyGenerator.tlog/CL.command.1.tlog
KeyGenerator/x64/Debug/KeyGenerator.tlog/CL.read.1.tlog
KeyGenerator/x64/Debug/KeyGenerator.tlog/CL.write.1.tlog
KeyGenerator/x64/Debug/KeyGenerator.tlog/KeyGenerator.lastbuildstate
KeyGenerator/x64/Debug/KeyGenerator.tlog/link.command.1.tlog
KeyGenerator/x64/Debug/KeyGenerator.tlog/link.read.1.tlog
KeyGenerator/x64/Debug/KeyGenerator.tlog/link.write.1.tlog
KeyGenerator/x64/Release/KeyGenerator.exe.recipe
KeyGenerator/x64/Release/KeyGenerator.iobj
KeyGenerator/x64/Release/KeyGenerator.ipdb
KeyGenerator/x64/Release/KeyGenerator.log
KeyGenerator/x64/Release/Main.obj
KeyGenerator/x64/Release/vc143.pdb
KeyGenerator/x64/Release/KeyGenerator.tlog/CL.command.1.tlog
KeyGenerator/x64/Release/KeyGenerator.tlog/CL.read.1.tlog
KeyGenerator/x64/Release/KeyGenerator.tlog/CL.write.1.tlog
KeyGenerator/x64/Release/KeyGenerator.tlog/KeyGenerator.lastbuildstate
KeyGenerator/x64/Release/KeyGenerator.tlog/link.command.1.tlog
KeyGenerator/x64/Release/KeyGenerator.tlog/link.read.1.tlog
KeyGenerator/x64/Release/KeyGenerator.tlog/link.write.1.tlog
SQLTesting/SQLTesting.vcxproj.filters
SQLTesting/SQLTesting.vcxproj.user
SQLTesting/x64/Debug/Main.obj
SQLTesting/x64/Debug/SQLTesting.log
SQLTesting/x64/Debug/vc143.idb
SQLTesting/x64/Debug/vc143.pdb
SQLTesting/x64/Debug/SQLTesting.tlog/CL.command.1.tlog
SQLTesting/x64/Debug/SQLTesting.tlog/CL.read.1.tlog
SQLTesting/x64/Debug/SQLTesting.tlog/CL.write.1.tlog
SQLTesting/x64/Debug/SQLTesting.tlog/link-cvtres.read.1.tlog
SQLTesting/x64/Debug/SQLTesting.tlog/link-cvtres.write.1.tlog
SQLTesting/x64/Debug/SQLTesting.tlog/link-rc.read.1.tlog
SQLTesting/x64/Debug/SQLTesting.tlog/link-rc.write.1.tlog
SQLTesting/x64/Debug/SQLTesting.tlog/link.command.1.tlog
SQLTesting/x64/Debug/SQLTesting.tlog/link.read.1.tlog
SQLTesting/x64/Debug/SQLTesting.tlog/link.read.2.tlog
SQLTesting/x64/Debug/SQLTesting.tlog/link.write.1.tlog
SQLTesting/x64/Debug/SQLTesting.tlog/SQLTesting.lastbuildstate
SQLTesting/x64/Debug/SQLTesting.tlog/unsuccessfulbuild
SQLTesting/x64/Release/Main.obj
SQLTesting/x64/Release/SQLTesting.exe.recipe
SQLTesting/x64/Release/SQLTesting.iobj
SQLTesting/x64/Release/SQLTesting.ipdb
SQLTesting/x64/Release/SQLTesting.log
SQLTesting/x64/Release/vc143.pdb
SQLTesting/x64/Release/SQLTesting.tlog/CL.command.1.tlog
SQLTesting/x64/Release/SQLTesting.tlog/CL.read.1.tlog
SQLTesting/x64/Release/SQLTesting.tlog/CL.write.1.tlog
SQLTesting/x64/Release/SQLTesting.tlog/link.command.1.tlog
SQLTesting/x64/Release/SQLTesting.tlog/link.read.1.tlog
SQLTesting/x64/Release/SQLTesting.tlog/link.write.1.tlog
SQLTesting/x64/Release/SQLTesting.tlog/SQLTesting.lastbuildstate
ZlibTest/ZlibTest.vcxproj.filters
ZlibTest/ZlibTest.vcxproj.user
ZlibTest/x64/Debug/vc143.idb
ZlibTest/x64/Debug/vc143.pdb
ZlibTest/x64/Debug/ZlibTest.log
ZlibTest/x64/Debug/ZlibTest.tlog/CL.command.1.tlog
ZlibTest/x64/Debug/ZlibTest.tlog/unsuccessfulbuild
ZlibTest/x64/Debug/ZlibTest.tlog/ZlibTest.lastbuildstate
ZlibTest/x64/Release/vc143.pdb
ZlibTest/x64/Release/ZlibTest.log
ZlibTest/x64/Release/ZlibTest.tlog/CL.command.1.tlog
ZlibTest/x64/Release/ZlibTest.tlog/unsuccessfulbuild
ZlibTest/x64/Release/ZlibTest.tlog/ZlibTest.lastbuildstate
